body{
  display: flex;
  justify-content: center;
}

video{
  position: absolute;
  z-index:1;
  width: 100%;
  height: 100%;
}	

main{
  position: absolute;
  z-index:2;
  opacity: 0.75;
}	

.main_form{
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 800px;
  width: 800px;
}

.info_panel{
  flex-grow:0;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 30px;
  font-weight: bold;
}	

.timer{
  display: flex;
}	

.counter{
  display: flex;
}	

.bg_squares{
  flex-grow: 1;
  display: flex;
  margin: 1rem;
  background-color: white;
}

.squares{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

tr{
  flex-grow: 1;
  display: flex;
}

td{
  flex-grow: 1;
  margin: 0.1rem;
  display: flex;
}	

button{
  flex-grow:1;
  background-color: green;
}	